<h1><%= t('subscribed_email.hello', email: @lead.email) %></h1>
<p>
  <%= t('subscribed_email.subscribed_text') %>
</p>
<ul>
  <% if @lead.women %>
    <li><%= t('subscribed_email.women_preference') %></li>
  <% end %>
  <% if @lead.men %>
    <li><%= t('subscribed_email.men_preference') %></li>
  <% end %>
  <% if @lead.children %>
    <li><%= t('subscribed_email.children_preference') %></li>
  <% end %>
</ul>
<p>
  <%= t('subscribed_email.goodbye') %>
</p>