<h2 style="color: #67B884; font-family: serif;"><%= t('subscribed_email.hello', email: @lead.email) %></h2>
<p style="color: #404040; font-family: serif;">
  <%= t('subscribed_email.subscribed_text') %>
</p>
<ul style="color: #404040; font-family: serif;">
  <% if @lead.women %>
    <li><%= t('subscribed_email.women_preference') %></li>
  <% end %>
  <% if @lead.men %>
    <li><%= t('subscribed_email.men_preference') %></li>
  <% end %>
  <% if @lead.children %>
    <li><%= t('subscribed_email.children_preference') %></li>
  <% end %>
</ul>
<p style="color: #67B884; font-family: serif;">
  <strong><%= t('subscribed_email.goodbye') %></strong>
</p>